.main_button_click {
  display: inline-block;
  border-radius: 10px;
  background: #1d7bc9;
  font-size: 16px;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
  margin-top: 10px;
}
.main_data {
  padding: 10px;
}